footer
{ background-color: goldenrod;
    font-family: "Times New Roman";}

.restName
 {background-color: navy;
font-family:serif;
 color: wheat;}

 .mealName
 {font-size: larger;
 font-weight:bold;
 color: navy;}

 .homeBody
 {background-color: rgb(200,500,200);
 align: center;}

 .reqfield
 {font-weight: bold }