

footer
{ background-color: goldenrod;
    font-family: "Times New Roman";}

.restName
 {background-color: navy;
font-family:serif;
 color: wheat;}

 .mealName
 {font-size: larger;
 font-weight:bold;
 color: navy;}

 .homeBody
 {background-color: rgb(200,500,200);
 align: center;}

 .reqfield
 {font-weight: bold }

a{color:cadetblue;
}

 a:visited{color: wheat}

 a:hover{font-weight: bold}

 A:active{text-decoration: none}

 tr{text-align: center;}
.menupage{background-color: rgb(0,150,100)}

.menufood{width: 70%;
margin-left:15%;
margin-right: 15%}

.menudrink
{width: 70%;
margin-left:15%;
margin-right: 15%}

caption{
    color:goldenrod;
    font-family: serif;
    font-size:x-large;
    font-weight: bold;
    text-decoration: underline
}
